.social svg {
    height: 28px;
    display: inline-block;
    margin: .25rem .25rem .1rem;
    vertical-align: middle;
}
.social {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-bottom: -3px;
    padding: .25rem;
}
.social a {
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}

.social span.label {
    text-transform: uppercase;
    font-size: .9em;
    vertical-align: middle;
    padding-top: 0.25rem;
    padding-right: .5rem;
    display: inline-block;
}

#top-top .social svg {
    height: 28px;
    display: inline-block;
    margin: .25rem;
}
#top .social svg {
    height: 24px;
    display: inline-block;
    margin: 0 .2rem;
}

#top-top .social svg .icon,
#bot-bot .social svg .icon {
    fill: #0391A0 !important;
}

#top .social svg .icon {
    fill: #F98B5A !important;
}

#top .social svg .container,
#top-top .social svg .container,
#bot-bot .social svg .container {
    fill: #FFFFFF !important;
}


