// Theme Specific Styles

// Full page Layout
html {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  overflow-x: initial;
}

#app {
  display: flex;
  flex-direction: column;

  #MobileNavMenu {
    width: 100%;
    min-height: 100vh;
    left:100%;
    right: -100%;
    top: 0;
    z-index: 3;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
    font-size: 1.2em;
    -webkit-transition: font-size .25s;
    -moz-transition: font-size .25s;
    -ms-transition: font-size .25s;
    -o-transition: font-size .25s;
    transition: font-size .25s;
    @media screen and (min-width:370px){
      width: 100%;
      right:-100%;
    }

    a.menu-item.navbar-item {
      line-height: 1.9em;
    }

    div#MobileNavClose {
      align-items: center;
      display: flex;
      font-size: .8em;
      margin: 1.5rem 0 .5rem;
    }

  }
  #MobileNavMenu.is-active {
    width: 100%;
    left: auto;
    right: 0;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    background-size: cover;
    background-position: bottom right;
    font-size: 1.6em;
    @media screen and (min-width: 370px) {
      width: 100%;
    }

    .nav-wrapper {
      min-height: 100vh;
      width: 100%;
      background-color: rgba(255,255,255,.8);
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    #mobile-menu {
      width: 100%;
      .navbar-item{
        padding:0;
        a.navbar-item, .navbar-link {
          color: #31081F;
        }

        .navbar-dropdown {
          font-size: 1.2rem;
          padding-bottom: 0.5rem;
          padding-top: 0.25rem;
          -webkit-transition: height .5s;
          -moz-transition: height .5s;
          -ms-transition: height .5s;
          -o-transition: height .5s;
          transition: height .5s;
          height: 0;
          overflow: hidden;
          display: none;
        }
      }

      .navbar-item {
        .navbar-dropdown.is-open {
          height: auto;
          display: block;
        }

      }

      a.navbar-item.is-active, .navbar-link.is-active {
        background-color: transparent;
        color: $primary;
      }

      a.navbar-item:hover, .navbar-link:hover {
        background-color: transparent;
        color: $black;
      }

    }
  }

  .section-wrapper {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .site-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    @media screen and (min-width:768px) and (max-width: 1084px){
      .container {
        padding: 0 2rem;
      } 
    }

    @media screen and (min-width: 1084px){
      .container {
        max-width: 1140px !important;
        width: 1140px !important;
      }
      .container.pad {
        max-width: 1094px !important;
        width: 1094px !important;
      }
    }

    // @media screen and (min-width: 1084px){
    //   .container {
    //     max-width: 990px;
    //     width: 990px;
    //   }
    //   .container.pad {
    //     max-width: 894px;
    //     width: 894px;
    //   }
    // }
  }

  .site-wrapper.menu-open {
    display:none;
  }

  .site-wrapper.full-height {
    height: 100vh;
  }

  .button {
    font-weight:bold;
  }

}

//Top mini-nav
.top-top {
  background-color: #FAF7F2;
  text-align: center;
  color: #868686;

  a {
    display: inline-block;
    padding:.5rem;
    color: #868686;
    font-size: 12px;
  }
}

//Sticky Header
#top {
  width: 100%;
  position: relative;
  z-index: 3;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -ms-transition: all linear .25s;
  -o-transition: all linear .25s;
  transition: all linear .25s;
  @media screen and (max-width: $desktop) {
    width:100%;
    text-align: center;

    .navbar-start {
      padding: 1rem 0 0;
    }

    .navbar-end {
      justify-content: center !important;
      padding: .5rem 0 1.5rem;
    }
  }
  @media screen and (min-width: $desktop) {
    position: fixed;
  }

  .top-one {
    background-color: #FFF;
  }


  .navbar {
    background-color: transparent;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width:767px){
      flex-direction: column;
    }

    @media screen and (min-width: $desktop) {
      background-color: transparent;
    }

    .navbar-brand {
      min-height: 100%;
      .logo {
        padding: .5rem 1rem;
        height:157px;
        width:227px;
        display: block;
        -webkit-transition: all linear .25s;
        -moz-transition: all linear .25s;
        -ms-transition: all linear .25s;
        -o-transition: all linear .25s;
        transition: all linear .25s;

        @media screen and (max-width:767px) {
          width: 200px;
          height: auto;
        }

        img {
          display: block;
        }
      }

    }

    .navbar-item {
      padding: .5rem;
      img {
        max-height: 2.75rem;
      }
      a.menu-item {
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
      }

      .navbar-link::after {
        content: "";
        display: none;
      }

      .social svg {
        width: 28px;
        margin: .1rem .15rem;
      }

    }

    .navbar-item a.menu-item:hover, a.current_page_item,
    .navbar-item a.navbar-link.is-active,
    .navbar-item.has-dropdown:hover .navbar-link,
    .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar-item.has-dropdown:hover .navbar-link {
      background-color: transparent;
    }

    .navbar-end {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media screen and (max-width:767px) {
        width: 100%;
      }

      .button {
        height: 3em;
        padding-left:1em;
        padding-right:1em;
      }
    }
  }

  .navbar-top-row {
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;

    div {
      color:#999;
    }
    a {
      color:#999;
      text-transform: uppercase;
    }

  }

  .top-two {
    background-color: #410080;
    @media screen and (min-width: $desktop) {
      background-color: rgba(65, 0, 128, .5);
    }

    .navbar-bottom-row {
      flex-wrap: wrap;
    }

    #MobileNavBurger {
      display: flex;
      align-items: center;
      color: #FFF;
      cursor: pointer;
      
      @media screen and (min-width: $desktop) {
        display: none;
      }

      .navbar-burger {
        background-color: transparent !important;

        span {
          background-color: #FFF !important;
        }
      }
    }

    .navbar-start {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media screen and (max-width: $tablet){
        flex-direction: column;
      }
      
      @media screen and (max-width: $desktop) {
        display: none;
      }
    }

    .navbar-item {
      padding: 0;
      @media screen and (min-width: $desktop) {
        padding: .5rem;
      }
      a.menu-item {
        color: #FFF;
        padding: .5rem;
        @media screen and (min-width: $desktop) {
          padding: 1rem .5rem;
        }
      }

      .navbar-dropdown {
        top: 92%;
        padding: .5rem;
        min-width: 200px;
        border-top: 6px solid $primary;
        border-radius: 0;
        color: $primary;

        a.menu-item {
          color: $primary;
          padding: .5rem;
        }
        a.menu-item:hover {
          color: #000;
        }

        .navbar-dropdown {
          top: 0;
          left:100%;
        }
      }

      .navbar-item .navbar-dropdown {
        display: none;
      }

      .navbar-item.is-hoverable:hover>.navbar-dropdown {
        display: block;
      }

    }
  }

}

@media screen and (min-width: $desktop) {
  .scrolling #top {
    background-position: center top;
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    .logo {
      height: 120px !important;
      width: 182.36px !important;
    }
  }
}

//Middle section
#mid {
  position: relative;
  flex: 1 0 auto;
  z-index: 2;

  @media screen and (min-width: $desktop) {
    .sticky-header-pad {
      padding-top: 160px;
    }
    .sticky-header-pad.support {
      padding-top: 87px;
    }
  }

  //sections
  .section {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding: 2.5rem 0;
    @media screen and (min-width: $tablet) {
      padding: 3rem 0;
    }
  }
  .home-header {
    background-image: url('/wp-content/themes/kma-slim/img/mobile-header-image.png');
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      background-image: url('/wp-content/themes/kma-slim/img/header-image.png');
    }
    @media screen and (min-width: $desktop) {
      padding: 1.5rem;
    }
    @media screen and (min-width: $widescreen) {
      padding: 3.5rem 0 5.5rem;
    }
    @media screen and (min-width: $fullhd) {
      padding: 5rem 0 7rem;
    }
    .video-holder {
      text-align: center;
      justify-content: center;
      @media screen and (max-width: $tablet){
        padding: 0 2rem;
        margin: 0 0 2rem;
      }

      .home-video-container {
        overflow: hidden;
        border-radius: 1rem;
        border:2px solid #FFF;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
        box-shadow: 0 0 10px rgba(0,0,0,.5);

        iframe {
          position: absolute;
          width: 100%;
          margin-left: -50%;
          top:0;
          height: 100%;
        }
      }
    }

    .headline {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;

      h1 {
        font-weight: $weight-bold;
        color:#FFF;
        text-shadow: 0 0 2px rgba(0,0,0,.5);
        font-size: 2.5em;
        width: 100%;

        @media screen and (min-width: $desktop) {
          padding: 3rem 1.5rem;
          text-align: left;
          font-size: 3rem;
          line-height: 1.3em;
        }

        em {
          font-weight: $weight-bold;
          font-style: italic;
        }
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .home-modules {
      padding-top: 0;
      margin-top: -6rem;
    }
  }

  .home-module {
    margin:0 1.5rem 1rem;
    border-radius: .75rem;
    border:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #fbf8f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $desktop) {
      margin:0 1.25rem 2.5rem;
    }

    h2 {
      font-weight: $weight-bold;
      color: $primary;
      font-size: $size-5;
    }

    .card-cta {
      padding: 0 0 2rem;
    }

  }

  .amazon-banner {
    background-color: #9FC3CC;
    align-items: center;
  }

  .doctor-bio {
    background-color: #547289;
    align-items: center;

    //@media screen and (max-width: $desktop) {
      .doctor-bio-container,
      .doctor-photo-container {
        padding: 1.5rem;

        h2 {
          font-size: 29px;
          margin-bottom:2rem;
        }
        p {
          line-height: $body-line-height;
        }
        a.button {
          margin-top: 2rem;
        }
      }
      .doctor-photo-container img{
        border-radius: 1rem;
        border:2px solid #FFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    //}

    .doctor-bio-container {
      display: flex;
      flex-direction: column;
      justify-self: center;
      height: 100%;
      justify-content: center;
    }

    p, h2,
    .is-transparent {
      color: #FFF;
    }
  }

  /// Support page sections
  .support-header {
    min-height: 138px;
    background-image: url('/wp-content/themes/kma-slim/img/support-header.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $desktop) {
      padding: 8rem 0 4rem;
    }

    h1 {
      text-transform: uppercase;
      color: #49677f;
    }
  }

  .breadcrumbs {

    p#breadcrumbs {
      padding: .5rem 1rem;
      font-size: .9em;
      color: #49677f;

      @media screen and (min-width: $desktop) {
        padding: .5rem 0;
      }

      a {
        color: #49677f;
      }

      strong {
        color: $primary;
      }
    }
  }

  .entry-content, .sidebar {
    padding: 0 1rem;
    @media screen and (min-width: $desktop) {
      padding: 0;
    }

    h2 {
      color: $primary;
    }

    p {
      line-height: $body-line-height;

      a {
        text-decoration: underline;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      padding-left: 21px;
    }

    img.featured-image {
      border-radius: 1rem;
      margin-bottom: 1rem;
      border: 2px solid $primary;

      @media screen and (max-width: $tablet){
        width:100%;
      }
    }

  }

  .featured-image-sidebar {
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid $primary;

    img {
      display: block;
    }
  }

  @media screen and (min-width: $desktop) {
    .entry-content.has-sidebar {
      padding-left: 2rem;
    }
  }

  .sidebar {
    justify-content: center;
  }

  .support-modules {
    padding-top: 4rem;
  }

  .pad-anchor {
    position: absolute;
    margin-top: -230px;
  }

  .panel-heading {
    font-size: 1rem;
  }

  .sub-section {
    padding-bottom: 2rem;
    clear: both;

    .featured-image {
      margin: 1rem 0;
      @media screen and (min-width: $tablet){
        max-width: 200px;
        float: left;
        margin: 0 1.75rem .5rem 0;
      }
    }
  }

}


///page CTA
.page-cta {
  background-color: #49677f;
  padding-bottom: 2rem;

  p {
    color: $white;

    a.button.is-primary {
      color: $white;
      border-color: $white;
    }
    a.button.is-primary:hover {
      color: #49677f;
      background-color: $white;
      border-color: $white;
    }
  }
}

.home {
  .page-cta {
    background-color: $white;

    p {
      color: $primary;

      a.button.is-primary {
        color: $primary;
        border-color: $primary;
      }
      a.button.is-primary:hover {
        color: $white;
        background-color: $primary;
      }
    }
  }
}

///Footer
#bot {
  position: relative;
  z-index: 1;
  background-color: #9fc3cc;
  padding: 2rem 1rem;
  text-align: center;
  @media screen and (min-width: $tablet){
    padding: 3rem 0 3rem;
    text-align: left;
  }

  .footer-menu-section {
    margin-bottom: 1rem;
  }

  .menu-heading {
    font-size: 18px;
    color: #547289;
    font-weight: bold;
  }

  .footer-submenu-item {
    display: block;
    font-size: 16px;
    color: #547289;
  }
  .mb-20 {
    margin-bottom: 1rem;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .white-button {
    padding: 20px 50px;
    color: $primary;
    border-color: $primary;
  }

}

#bot-bot {
  padding:.5rem 0;
  background-color: #484848;

  @media screen and (min-width: $desktop) {
    padding: .5rem 1rem;
  }

  p {
    color: #FFF;
    font-size: .8em;
    a {
      color: #FFF;
      text-decoration: underline;
    }

    .siteby {
      display: inline-block;

      svg {
        height: 11px;
      }
    }
  }
}

.cta {
  color: #410082;
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  padding: 30px 0;
}
.cta-button {
  padding: 20px;
  margin-bottom: 20px;
}