// Theme Specific Styles

// Full page Layout
html {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  overflow-x: initial;
}

#app {
  display: flex;
  flex-direction: column;

  .section-wrapper {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .site-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    position: relative;

    @media screen and (min-width:768px) and (max-width: 1084px){
      .container {
        padding: 0 2rem;
      }
    }

    @media screen and (min-width: 1084px){
      .container {
        max-width: 990px;
        width: 990px;
      }
      .container.pad {
        max-width: 894px;
        width: 894px;
      }
    }
  }

  .site-wrapper.full-height {
    height: 100vh;
  }

  .button {
    font-weight:bold;
  }

}

//Top mini-nav
.top-top {
  background-color: #FAF7F2;
  text-align: center;
  color: #868686;

  a {
    display: inline-block;
    padding:.5rem;
    color: #868686;
    font-size: 12px;
  }
}

//Sticky Header
#top {
  width: 100%;
  position: relative;
  z-index: 3;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -ms-transition: all linear .25s;
  -o-transition: all linear .25s;
  transition: all linear .25s;
  @media screen and (max-width: $desktop) {
    width:100%;
    text-align: center;

    .navbar-start {
      padding: 1rem 0 0;
    }

    .navbar-end {
      justify-content: center !important;
      padding: .5rem 0 1.5rem;
    }
  }
  @media screen and (min-width: $desktop) {
    position: fixed;
  }

  .top-one {
    background-color: #FFF;
  }


  .navbar {
    background-color: transparent;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width:767px){
      flex-direction: column;
    }

    @media screen and (min-width: $desktop) {
      background-color: transparent;
    }

    .navbar-brand {
      min-height: 100%;
      .logo {
        padding: .5rem 1rem;
        height:157px;
        width:227px;
        display: block;
        -webkit-transition: all linear .25s;
        -moz-transition: all linear .25s;
        -ms-transition: all linear .25s;
        -o-transition: all linear .25s;
        transition: all linear .25s;

        @media screen and (max-width:767px) {
          width: 200px;
          height: auto;
        }

        img {
          display: block;
        }
      }

    }

    .navbar-item {
      padding: .5rem;
      img {
        max-height: 2.75rem;
      }
      a.menu-item {
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
      }

      .navbar-link::after {
        content: "";
        display: none;
      }

      .social svg {
        width: 28px;
        margin: .1rem .15rem;
      }

    }

    .navbar-item a.menu-item:hover, a.current_page_item,
    .navbar-item a.navbar-link.is-active,
    .navbar-item.has-dropdown:hover .navbar-link,
    .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar-item.has-dropdown:hover .navbar-link {
      background-color: transparent;
    }

    div#main-menu {
      //display: none;

      @media screen and (min-width: $desktop) {
        display: flex;
      }

      @media screen and (max-width: $desktop) {
        .navbar-dropdown {
          display: none;
        }
      }
    }

    .navbar-end {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media screen and (max-width:767px) {
        width: 100%;
      }
    }
  }

  .navbar-top-row {
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;

    div {
      color:#999;
    }
    a {
      color:#999;
      text-transform: uppercase;
    }

  }

  .top-two {
    background-color: #410080;
    @media screen and (min-width: $desktop) {
      background-color: rgba(65, 0, 128, .5);

      .navbar-bottom-row {
        padding: 1rem 0;
      }
    }

    .navbar-item {
      padding: 0;
      @media screen and (min-width: $desktop) {
        padding: .5rem;
      }
      a.menu-item {
        color: #FFF;
        padding: .5rem;
        @media screen and (min-width: $desktop) {
          padding: 1rem .5rem;
        }
      }

      .navbar-dropdown {
        top: 92%;
        padding: .5rem;
        min-width: 200px;
        border-top: 6px solid $primary;
        border-radius: 0;
        color: $primary;

        a.menu-item {
          color: $primary;
          padding: .5rem;
        }
        a.menu-item:hover {
          color: #000;
        }
      }
    }
  }

}

@media screen and (min-width: $desktop) {
  .scrolling #top {
    background-position: center top;
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    .logo {
      height: 120px !important;
      width: 182.36px !important;
    }
  }
}

//Middle section
#mid {
  position: relative;
  flex: 1 0 auto;
  z-index: 2;

  @media screen and (min-width: $desktop) {
    .sticky-header-pad {
      padding-top: 160px;
    }
  }

  //sections
  .section {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding: 2.5rem 0;
    @media screen and (min-width: $tablet) {
      padding: 3rem 0;
    }
  }
  .home-header {
    background-image: url('/wp-content/themes/kma-slim/img/header-image.png');
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $desktop) {
      padding: 1.5rem;
    }
    @media screen and (min-width: $widescreen) {
      padding: 3.5rem 0 5.5rem;
    }
    @media screen and (min-width: $fullhd) {
      padding: 5rem 0 7rem;
    }
    .video-holder {
      text-align: center;
      justify-content: center;
    }

    .headline {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;

      h1 {
        font-weight: $weight-bold;
        color:#FFF;
        text-shadow: 0 0 2px rgba(0,0,0,.5);
        font-size: 2.5em;
        width: 100%;

        @media screen and (min-width: $desktop) {
          padding: 3rem 1.5rem;
          text-align: left;
          font-size: 3rem;
          line-height: 1.3em;
        }

        em {
          font-weight: $weight-bold;
          font-style: italic;
        }
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .home-modules {
      padding-top: 0;
      margin-top: -3rem;
    }
  }

  .home-module {
    margin:0 1.5rem 1rem;
    border-radius: .75rem;
    border:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #fbf8f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $desktop) {
      margin:0 1.25rem 2.5rem;
    }

    h2 {
      font-weight: $weight-bold;
      color: $primary;
      font-size: $size-5;
    }

    .card-cta {
      padding: 0 0 2rem;
    }

  }

  .doctor-bio {
    background-color: #547289;
    align-items: center;

    //@media screen and (max-width: $desktop) {
      .doctor-bio-container,
      .doctor-photo-container {
        padding: 1.5rem;

        h2 {
          font-size: 29px;
          margin-bottom:2rem;
        }
        p {
          line-height: 2em;
        }
        a.button {
          margin-top: 2rem;
        }
      }
    //}

    .doctor-bio-container {
      display: flex;
      flex-direction: column;
      justify-self: center;
      height: 100%;
      justify-content: center;
    }

    p, h2,
    .is-transparent {
      color: #FFF;
    }
  }

}



#bot {
  position: relative;
  z-index: 1;
  background-color: #9fc3cc;
  padding: 2rem 0;
  @media screen and (min-width: $tablet){
    padding: 3rem 0 3rem;
  }
}

#bot-bot {
  padding:.5rem 0;
  background-color: #484848;
  p {
    color: #FFF;
    font-size: .8em;
    a {
      color: #FFF;
      text-decoration: underline;
    }

    .siteby {
      svg {
        height: 11px;
      }
    }
  }
}

.cta {
  color: #410082;
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  padding: 30px 0;
}
.cta-button {
  padding: 20px;
  margin-bottom: 20px;
}